{% extends "bootstrap/base.html" %}

{% block title %}
AI CCTV Dashboard
{% endblock %}

{% block styles %}
{{super()}}
{% include "header.html" %}

{% endblock %}

{% block content %}


<div class="container" id="app">
  <div class="cameras" >
    <table class="table table-sm table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" class="col-md-1">Camera Name</th>
          <th scope="col" class="col-md-4">Live View</th>
          <th scope="col" class="col-md-2">Detections</th>
          <th scope="col" class="col-md-2">Stats</th>
          <th scope="col" class="col-md-2">Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(camera, index) in cameras">
          <td class="col-md-1">[[index]]_[[camera.cam_name]]</td>
          <td class="col-md-4"><img v-bind:src="camera.pic_path" width="300"/></td>
          <td class="col-md-2">[[camera.num_persons]], [[camera.num_luggages]]</td>
          <td class="col-md-2">
            <div class="chart-container" style="width:200px; height:100px;">
              <canvas v-bind:id="'bar'+index"></canvas>
            </div>
          </td>
          <td class="col-md-2">[[camera.created_at]]</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- /.container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

<script>
var num_camera=1; //default cameras
var charts=[];

var app = new Vue({
  el: '#app',
  delimiters: ['[[',']]'],
  data: {
    right_message: 'Hello Vue!',
    imageSRC: "/static/default.jpg",
    cameras: []

  },
  created:function(){
      console.log("APP started.");
  },
  mounted:function(){
    var _this=this;
    $.getJSON("/api/cameras", function(response_data){
      _this.cameras=response_data.cameras;
    });
  }
});

setInterval(function(){
  $.getJSON("/api/camera_detections", function(response_data){
    app.cameras=response_data;
    renew_charts(app.cameras.length); 
  });
},1500);


function renew_charts(num){
  // Bar chart
  num=5;
  chart_len=20;
  for(i=0; i<num; i++){
    if(charts.length>i){ //already have charts
      (function(index){
        $.getJSON("/api/resampled_dets/"+app.cameras[i].cam_name, function(response_data){
          for(j=0; j<chart_len; j++){
            charts[index].data.datasets[0].data[chart_len -j ]=response_data[j].num_persons; //reverse and ditch last minute    
            this_num_persons=charts[index].data.datasets[0].data[j];
            if(this_num_persons < 1.0 ){
              charts[index].data.datasets[0].backgroundColor[j]="#AAAAAA";    
            }else if(this_num_persons >=1.0 && this_num_persons < 2.0){
              charts[index].data.datasets[0].backgroundColor[j]="#22AA22";
            }else if(this_num_persons >=2.0 && this_num_persons < 4.0){
              charts[index].data.datasets[0].backgroundColor[j]="#FF4500";
            }else if(this_num_persons>4.0){
              charts[index].data.datasets[0].backgroundColor[j]="#AA2222";
            }
          }
          charts[index].update();
        }); //ajax call end
      })(i); //function(index) pass i to index
    }else{
      charts[i]=new Chart(document.getElementById("bar"+i), {
        type: 'bar',
        data: {
          labels: ["-19", "-18", "-17", "-16", "-15", "-14","-13","-12","-11","-10","-9","-8","-7","-6","-5","-4","-3","-2","-1","0"],
          datasets: [{
            label: "people",
            backgroundColor: ["#AAAAAA", "#AAAAAA"],
            data: new Array(chart_len+1).join('0').split(''),
            borderColor: '#555555',
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,     
          maintainAspectRatio: false,
          legend: { display: false },
          title: {
            display: true,
            text: 'Last 20 Minute Passengers'
          },
          scales: {
            xAxes: [{
              display: false,
              gridLines: {
                color: "rgba(0, 0, 0, 0)"
              },
              barPercentage: 1.00,
              categoryPercentage: 1.00,
            }],
            yAxes: [{
              display: true,
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
              },
              ticks:{
                maxTicksLimit: 1,
                _min: -0.1 
              }
            }]
          }
        }
      });
    }
  }//for(i) loop end
}

</script>
{% endblock %}
