{% extends "bootstrap/base.html" %}

{% block title %}
AI CCTV Dashboard
{% endblock %}

{% block styles %}
{{super()}}
{% include "header.html" %}
{% endblock %}

{% block content %}

<div class="container" id="app">
  <div class="cameras" v-for="(camera, index) in cameras">
    <div class="camera col-md-3" style="height:300px">
      <img v-bind:src="camera.uri+'?'+new Date().getTime()" width="200" />
    	<!-- chart here -->
    </div>
    <div v-if="index % 4 === 3">
      <div class="w-100 d-none d-md-block"></div>
    </div>
  </div>
</div><!-- /.container -->


<script>
var num_camera=1; //default cameras

var app = new Vue({
  el: '#app',
  delimiters: ['[[',']]'],
  data: {
    right_message: 'Hello Vue!',
    imageSRC: "/static/default.jpg",
    cameras: []

  },
  created:function(){
      console.log("ASDFASDF");
  },
  mounted:function(){
    var _this=this;
    $.getJSON("/api/cameras", function(response_data){
      _this.cameras=response_data.cameras;
    });
  }

});

setInterval(function(){
  //app.imageSRC0="upload/cam0_latest.jpg?"+new Date().getTime();
  $.getJSON("/api/cameras", function(response_data){
    app.cameras=response_data.cameras;
  });

  $.getJSON("/api/camera_detection", function(response_data){
    console.log(response_data);
  });
},2000);

</script>
{% endblock %}
