{% extends "bootstrap/base.html" %}

{% block title %}
AI CCTV Dashboard
{% endblock %}

{% block styles %}
{{super()}}
{% include "header.html" %}

{% endblock %}

{% block content %}


<div class="container" id="app">
<!--
  <div class="cameras" v-for="(camera, index) in cameras">
    <div class="camera col-md-3" style="height:300px">
      <img v-bind:src="camera.pic_path" width="200" />
    </div>
    <div v-if="index % 4 === 3">
      <div class="w-100 d-none d-md-block"></div>
    </div>
  </div>
-->
  <div class="cameras" >
    <table class="table table-sm table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" class="col-md-1">Camera Name</th>
          <th scope="col" class="col-md-4">Live View</th>
          <th scope="col" class="col-md-2">Detections</th>
          <th scope="col" class="col-md-2">Stats</th>
          <th scope="col" class="col-md-2">Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(camera, index) in cameras">
          <td class="col-md-1">[[index]]_[[camera.cam_name]]</td>
          <td class="col-md-4"><img v-bind:src="camera.pic_path" width="300"/></td>
          <td class="col-md-2">[[camera.num_persons]], [[camera.num_luggages]]</td>
          <td class="col-md-2">
            <div class="chart-container" style="width:200px; height:100px;">
              <canvas v-bind:id="'bar'+index"></canvas>
            </div>
          </td>
          <td class="col-md-2">[[camera.created_at]]</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- /.container -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

<script>
var num_camera=1; //default cameras

var app = new Vue({
  el: '#app',
  delimiters: ['[[',']]'],
  data: {
    right_message: 'Hello Vue!',
    imageSRC: "/static/default.jpg",
    cameras: []

  },
  created:function(){
      console.log("ASDFASDF");
  },
  mounted:function(){
    var _this=this;
    $.getJSON("/api/cameras", function(response_data){
      _this.cameras=response_data.cameras;
    });
  }
});

setInterval(function(){
  //app.imageSRC0="upload/cam0_latest.jpg?"+new Date().getTime();
  $.getJSON("/api/cameras", function(response_data){
    //app.cameras=response_data.cameras;
  });
  $.getJSON("/api/camera_detections", function(response_data){
    app.cameras=response_data;
    renew_charts(response_data.length);
  });


},2000);


function renew_charts(num){
  // Bar chart
  for(i=0; i<num; i++){
    new Chart(document.getElementById("bar"+i), {
        type: 'bar',
        data: {
          labels: ["a", "b", "c", "d", "e", "f","g","h","i","j","k","l","m","n","o","16","17","18","19","20"],
          datasets: [
            {
              label: "people",
              backgroundColor: ["#AAAAAA", "#AAAAAA","#AA2222","#22AA22","#2222AA"],
              data: [1,0.3,5,6,7,9,10,8,2.3,4.5,3,2.8,2.2,2.0,1.8,1.7,1.6,1.5,1.4,1.3],
                    borderColor: '#555555',
                    borderWidth: 1
            }
          ]
        },
        options: {
          responsive: true,     
          maintainAspectRatio: false,
          legend: { display: false },
          title: {
            display: true,
            text: '10 Minute Passengers'
          },
          scales: {
                  xAxes: [{
                    display: false,
                gridLines: {
                    color: "rgba(0, 0, 0, 0)"
                },
                barPercentage: 1.00,
                categoryPercentage: 1.00,
            }],
            yAxes: [{
                    display: false,
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                },
                    ticks:{
                            maxTicksLimit: 1,
                            _min: -0.1 
                    }
            }]
          }
        }
    });
  }//for loop end
}

</script>
{% endblock %}
